	
<div class="user-show">
	
	<p><img src="<%= "/user_images/#{@user.image_name}"%>">
		<!--#画像はpublic/user_imagesフォルダに保存されているので、src属性の値は「/user_images/ファイル名」とする必要がある --></p>
	<h2>username: <%= @user.name %></h2>
	<p>user.id: <%= @user.id %></p>
	<p>user.email: <%= @user.email %></p>

	<% if @user.id == @current_user.id %> <!--詳細ページのユーザーのidとログイン中のユーザーのidが等しい場合 -->
	 <%= link_to("edit","/users/#{@user.id}/edit")%>
	<% end %>

	<ul class="user-tabs">
	      <li><%= link_to("see what you liked", "/users/#{@user.id}/likes") %></li>
	</ul>
    
	
</div>

