<!DOCTYPE html>
<html>
  <head>
    <title>TweetApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
  	<header>
	<div class="header-logo">
	  <% if @current_user %>
          <%= link_to "Let's Tweet", posts_path %>
      <% else %>
          <%= link_to "Let's Tweet", root_path %>
      <% end %>
	</div>
	<ul class="header-menus">
		<% if @current_user %> <!-- session[:user_id]-->
		    <ol>
		    	<%= link_to(@current_user.name, "/users/#{@current_user.id}") %>
		    </ol>
			<ol>
			    <%= link_to "Index", posts_path %>
			</ol>
			<ol>
			    <%= link_to "POST", new_post_path %>	
			</ol>
			<ol>
				<%= link_to "Logout", logout_path, {method: :post} %>
			</ol>
		<% else %>
			<ol>
			    <%= link_to "About this app", about_path %>	    
			</ol>

			<ol>
			    <%= link_to "Users", users_path %>	
		    </ol>
		    <ol>
		    	<%= link_to "Create User", new_user_path %>
		    </ol>
		    <ol>
		    	<%= link_to "Login" , login_path %>
		    </ol>
	    <% end %>
	    <!--・ログイン状態で表示する項目(・session[:user_id],・投稿一覧、・新規投稿、ログアウト)
　　　　      ・ログアウト状態で表示する項目(・about app,・ログイン)-->

	</ul>

</header>
<% if flash[:notice]#delete,edit,postした時に適用するのでapplication.htmlにこれを書く%>
   <div class="flash-notice">
      <%= flash[:notice] %>
   </div>
<% end %>
    <%= yield %>
  </body>
</html>
